/* Do not remove this rule */

html {
    font-size: 14px;
}

body {
    padding-top: 1.5%;
    padding-left: 2.5%;
}

#inner-border1 {
    padding: 5px;
    border-style: solid;
    border-color: brown;
    border-width: medium;
}

#inner-border2 {
    padding: 10px;
    border-style: solid;
    border-color: brown;
    border-width: medium;
}

#inner-border3 {
    padding: 10px;
    border-style: solid;
    border-color: blue;
    border-width: 10px;
    padding-top: 7.5%;
    padding-bottom: 9%;
}


#p1 {
    color: brown;
}

#p1:hover {
    color: red;
}

#p1::first-letter {
    font-weight: bold;
    font-size: 3rem;
}

#tab-main-head {
   padding-left: 10%;
}

.tab-heads {
    color: brown;
    background-color: antiquewhite;
}

table, th, td {
    border: 1px solid;
}

#information {
    color: brown;
}