<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Display GPAs greater than or equal to</h1>

    <form action="http://localhost:4000/api/v1/processAdminGPA" method="get">
        <div style="border: solid 1px black;padding: 2.5%;margin-right: 50%;margin-bottom: 2%;">
            <label>GPA:</label><input type="text" name="processGPA"><br>
        </div>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit Application">
    </form>

    <hr>
    <%- homeUrl %>
</body>


</html>