<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Application</title>
</head>

<body>
    <h1>Remove Application</h1>
    <form action="http://localhost:4000/processAdminRemove" method="delete">
        <input type="submit" value="Remove All Applications">
    </form>
    <hr>
    <%- homeUrl %>
</body>


</html>